/* ===== General CSS Start ===== */
body {
	font-family: Roboto, sans-serif;
}
main {
	transition: margin-left 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
section {
	padding: 0 15%;
}
.toolbar, .tabbar > div:nth-of-type(1), .tabbar > div:nth-of-type(2) {
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 10;
}
.tabbar > div:nth-of-type(1) {
	top: 56px;
}
.tabbar > div:nth-of-type(2) {
	top: 102px;
}
.menu-icon {
	margin-right: 24px;
	padding-left: 0 !important;
}
.side-drawer a {
	text-decoration: none;
}
.side-drawer > div {
	overflow-x: hidden !important;
}
.content-offset > main {
	transition: margin-left 450ms cubic-bezier(0.23, 1, 0.32, 1) 5ms;
	margin-left: 256px;
}
.paper {
	margin-top: 16px;
	padding: 16px;
}
.paper:not(.paper-solo):not(.booking-table):last-of-type {
	margin-bottom: 16px;
}
.clickable, .selectable {
	cursor: pointer;
}
.selectable:hover {
	background-color: rgba(66, 66, 66, 0.1);
}
/* ===== General CSS End ===== */


/* ===== Utility CSS Start ===== */
.text-center {
	text-align: center !important;
}
.vertical-center, .booking > .paper {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.text-color-dark, main {
	color: #424242;
}
.margin-none {
	margin: 0 !important;
}
.padding-none {
	padding: 0 !important;
}
/* ===== Utility CSS End ===== */


/* ===== Home Page CSS Start ===== */
.booking-table {
	margin-bottom: 72px;
	overflow-x: auto;
}
.booking-table > .row {
	margin: 0;
	flex-wrap: nowrap;
}
.booking-table > .row > div {
	height: 56px;
	line-height: 56px;
	border-right: 1px solid #E0E0E0;
	border-bottom: 1px solid #E0E0E0;
}
.booking-table > .row > div:first-of-type {
	position: sticky;
	left: 0;
	min-width: 84px;
	background-color: #FFFFFF;
	z-index: 6;
}
.booking-table > .row > div:last-of-type {
	border-right: none;
}
.booking-table > .row:last-of-type > div {
	border-bottom: none;
}
.booking {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	padding: 8px;
	line-height: normal;
	z-index: 5;
}
.booking > .paper {
	position: absolute;
	top: 8px;
	left: 8px;
	right: 8px;
	bottom: 8px;
	margin: 0;
	padding: 0;
}
.booking > .paper > p {
	margin: 12px 8px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.booking-red .paper {
	background-color: #FFCDD2 !important;
}
.booking-date-picker {
	margin: 16px 0 0 0;
}
.booking-date-picker > h1, .booking-date-picker > p {
	height: 56px;
	margin: 0;
	border-radius: 2px;
	transition: background-color 0.2s;
}
.booking-date-picker > h1 {
	line-height: 56px;
}
.booking-date-picker > p {
	width: 56px;
}
.col-xs {
	min-width: 56px;
	padding: 0;
	transition: background-color 0.2s;
}
.selected-date {
	background-color: #FFF3E0;
}
/* ===== Home Page CSS End ===== */


/* ===== Rooms Page CSS Start ===== */
.room-table {
	margin-bottom: 16px;
}
.room-header, .login-header {
	margin: 0.33em 0;
}
.fab {
	position: fixed;
	top: calc(100% - 5vw);
	left: 95%;
	transform: translate(-95%, -95%);
	z-index: 10;
}
/* ===== Rooms Page CSS End ===== */


/* ===== Login Page CSS Start ===== */
.form-input {
	margin-bottom: 8px;
	text-align: left;
}
.login-error {
	height: 24px;
	color: #F44336;
	font-size: 14px;
}
.login-error > p {
	display: inline-block;
	position: relative;
	top: -7px;
	height: 24px;
	line-height: 24px;
	margin: 0 0 0 8px;
}
/* ===== Login Page CSS End ===== */


/* ===== Media Query CSS Start ===== */
@media (max-width: 1366px) {
	section {
		padding: 0 5%;
	}
}

@media (max-width: 768px) {
	.paper {
		padding: 8px;
	}
	.dialog {
		width: 90% !important;
	}
}

@media (max-width: 640px) {
	.booking-table.paper {
		padding: 0;
	}
	.dialog {
		transform: translate(0px, 0px) !important;
	}
	.dialog > div > div:first-of-type {
		max-height: calc(100vh - 218px) !important;
	}
}
/* ===== Media Query CSS End ===== */
