/* ===== General CSS Start ===== */
body {
	font-family: Roboto, sans-serif;
}
main {
	transition: margin-left 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
section {
	padding: 0 15%;
}
.toolbar, .tabbar > div:nth-of-type(1), .tabbar > div:nth-of-type(2) {
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 10;
}
.tabbar > div:nth-of-type(1) {
	top: 56px;
}
.tabbar > div:nth-of-type(2) {
	top: 102px;
}
.menu-icon {
	margin-right: 24px;
	padding-left: 0 !important;
}
.side-drawer a {
	text-decoration: none;
}
.content-offset > main {
	transition: margin-left 450ms cubic-bezier(0.23, 1, 0.32, 1) 5ms;
	margin-left: 256px;
}
.paper {
	margin-top: 16px;
	padding: 16px;
}
.paper:not(.paper-room):last-of-type {
	margin-bottom: 16px;
}
/* ===== General CSS End ===== */


/* ===== Utility CSS Start ===== */
.text-center {
	text-align: center !important;
}
.vertical-center, .booking > .paper {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.text-color-dark, main {
	color: #424242;
}
/* ===== Utility CSS End ===== */


/* ===== Home Page CSS Start ===== */
.booking-table > .row {
	margin: 0;
}
.booking-table > .row > div {
	height: 56px;
	line-height: 56px;
	border-right: 1px solid #E0E0E0;
	border-bottom: 1px solid #E0E0E0;
}
.booking-table > .row > div:last-of-type {
	border-right: none;
}
.booking-table > .row:last-of-type > div {
	border-bottom: none;
}
.booking {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	padding: 8px;
	cursor: pointer;
	line-height: normal;
	z-index: 5;
}
.booking > .paper {
	position: absolute;
	top: 8px;
	left: 8px;
	right: 8px;
	bottom: 8px;
	margin: 0;
	padding: 0;
}
.booking > .paper > p {
	margin: 12px 8px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.booking-date-picker {
	margin-top: 16px;
}
.booking-date-picker > h1, .booking-date-picker > p, .selectable {
	cursor: pointer;
}
.booking-date-picker > h1, .booking-date-picker > p {
	height: 56px;
	margin: 0;
	border-radius: 2px;
	transition: background-color 0.2s;
}
.booking-date-picker > h1 {
	line-height: 56px;
}
.booking-date-picker > p {
	width: 56px;
}
.col-xs {
	padding: 0;
	transition: background-color 0.2s;
}
.selectable:hover {
	background-color: rgba(66, 66, 66, 0.1);
}
.selected-date {
	background-color: #FFF3E0;
}
/* ===== Home Page CSS End ===== */


/* ===== Rooms Page CSS Start ===== */
.paper-room > h1 {
	margin: 0.33em 0;
}
/* ===== Rooms Page CSS End ===== */


/* ===== Login Page CSS Start ===== */
.form-input {
	margin-bottom: 8px;
}
/* ===== Login Page CSS End ===== */


/* ===== Media Query CSS Start ===== */
@media (max-width: 640px) {
	.booking-table > .row > div:first-of-type {
		display: none;
	}
}

@media (max-width: 768px) {
	.paper {
		padding: 8px;
	}
}

@media (max-width: 1366px) {
	section {
		padding: 0 5%;
	}
}
/* ===== Media Query CSS End ===== */
